@model List<OurWork.Models.JobOffer>
@using OurWork.Models
@{
    ViewBag.Title = "SearchJobs";
}

<h2>SearchJobs</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Offer Name
            </th>
            <th>
                Publish Date
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (JobOffer offer in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(offer.OfferName, "Vacancy", "Vacancy",
                    routeValues: new { id = offer.Id },
                    htmlAttributes: new { })
                </td>
                <td>
                    @offer.PublishDate
                </td>
            </tr>
        }
    </tbody>
</table>

