@using OurWork.Models
@model IEnumerable<OurWork.Models.JobAppliances>
@{
    ViewBag.Title = "Index";
}

<h2>My appliances</h2>

@if (Model.Any())
{
    foreach (JobAppliances item in Model)
    {
        <div class="col-lg-12">
           <h4>
               @item.Name
           </h4> 
        </div>
    }
}

<a href="/Appliance/NewAppliance">New Appliance</a>