@using OurWork.Enums
@{
    ViewBag.Title = "Home Page";    
}

<h2>Say "Hello, Work"! :)</h2>

<div class="row central-section">
    @if(Request.IsAuthenticated)
    {   
        if (ViewBag.User != null)
        {
            int userRole = ViewBag.User.RoleId;
            
            switch (userRole)
            {                
                case (int)UserRoleTypes.Applicant:                        
                    @Html.Partial("_ApplicantHomePartial")
                    break;
                case (int)UserRoleTypes.Company:
                    @Html.Partial("_CompanyHomePartial")
                    break;                        
                case (int)UserRoleTypes.Admin:
                    break;
                default:
                    break;
            }
        }
    }
    else
    {
        <div class="hero-unit">
            <h3>Welcome to Hello Work!</h3>
            <p>Please do something...</p>
            <p>
                @Html.ActionLink("Register", "Register", "Account", 
                    routeValues: null,
                    htmlAttributes: new { id = "registerLink", @class = "btn btn-primary btn-large" })
                @Html.ActionLink("Log in", "Login", "Account",
                    routeValues: null,
                    htmlAttributes: new { id = "loginLink", @class = "btn btn-success btn-large" })
            </p>
        </div>
    }    
    
</div>
